<%#= link_to "Portfolio", users_portfolio_path %>
<div class="container-fluid">
  <h1>Dashboard</h1>

  <div class="my-3">
      <h3>Total Balance</h3>
      <div class="fs-1 fw-bold">
          $ <%= @balance %>
      </div>
  </div>


  <div class="row">
    <div class="col-lg-8">
      <h3>Available Stocks</h3>
      <div class="row">
        <% @stocks.each do |stock| %>
          <%= link_to stock_path(stock.id), class: "col-xl-5 py-3 border-light shadow rounded m-2 align-middle text-decoration-none text-dark" do %>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <%= image_tag(stock.logo_url, class: "dashboard-stock-logo") %>
              <div class="d-flex flex-column justify-content-between ps-2">
                <div class="fw-bold"><%= stock.code %></div>
                <div class="text-secondary"><%= stock.name %></div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="fw-bold">$ <%= stock.price %></div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

  <div class="col-lg-4">
    <h3>Recent Transactions</h3>
    <h3><%= link_to "See All", user_transactions_path %></h3>
    <% @recent_transactions.each do |recent| %>
      <%# if @balance >= recent.price * recent.units %>
        <%= recent.stock.code %><br>
        <%= recent.stock.name %><br>
        <%= recent.action %><br>
        <%= recent.status %><br>
        <%= recent.price %><br>
        <%= recent.units %><br>
        <%= recent.created_at %><br>
        <br>
      <%# end %>
    <% end %>
  </div>
</div>