<div class="container-fluid">
    <h1>Portfolio</h1>

    <h3>Assets</h3>
    <div class="row">
        <% @stocks_owned.each do |stock| %>
            <div class="col-3 p-2">
                <div class="d-flex flex-column align-items-center">
                    <div><%= stock[:units] %> units <%= stock[:code] %></div>
                    <div><%= stock[:name] %></div>
                    <div>
                        <%= link_to "Buy",  buy_stock_path(@user.id, stock[:id]), class: "btn btn-outline-success" %>
                        <%= link_to "Sell", sell_stock_path(@user.id, stock[:id]), class: "btn btn-outline-danger" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>