  # <%#= link_to "Create New User", admins_dashboard_user_new_path %>

  <div class="container">
  <h2>Hello Admin</h2>
  <p>Welcome to your workspace where you can create, update, and view users!</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">All Users</a></li>
    <li><a data-toggle="tab" href="#menu1">Pending Users</a></li>
    <li><a data-toggle="tab" href="#menu2">Create a New User</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>ALL USERS</h3>
      <p>View, edit, and approve users</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Balance</th>
              <th scope="col">Status</th>
              <th scope="col">Change Satus</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <th scope="row"><%= user.id %></th>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.balance %></td>
              <td><%= user.status %></td>
              <td><% @users.statuses.each_key do |status| %>
                <%= link_to admins_change_status_path(user, {status: status}), "data-turbo-method" => :patch, class: "btn btn-primary", "data-no-turbolink" => true do %>
                  <%= status %>
                <% end %>
              <% end %>
              </td>
              <td><%= link_to "Edit", admins_edit_user_path(user) %> | <%= link_to "View", admins_view_user_path(user) %></td>
            </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>PENDING USERS</h3>
      <p>Users for approval</p>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Balance</th>
              <th scope="col">Status</th>
              <th scope="col">Change Satus</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <% if user.status == "pending" %>
                <th scope="row"><%= user.id %></th>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.balance %></td>
                <td><%= user.status %></td>
                </td>
                <td><% @users.statuses.each_key do |status| %>
                  <%= link_to admins_change_status_path(user, {status: status}), "data-turbo-method" => :patch, class: "btn btn-primary", "data-no-turbolink" => true do %>
                    <%= status %>
                  <% end %>
                <% end %>
                </td>
                <td><%= link_to "Edit", admins_edit_user_path(user) %> | <%= link_to "View", admins_view_user_path(user) %></td>
              <% end %>
            </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>PENDING USERS</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>CREATE A NEW USER</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
