<h1>Admin</h1>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Status</th>
      <th>Change Status</th>
      <th>Action</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.balance %></td>
      <td><%= user.status %></td>
      <td><% @users.statuses.each_key do |status| %>
        <%= link_to admins_change_status_path(user, {status: status}), "data-turbo-method" => :patch, class: "btn btn-primary", "data-no-turbolink" => true do %>
          <%= status %>
        <% end %>
      <% end %>
      </td>
      <td><%= link_to "Edit", admins_edit_user_path(user) %> | <%= link_to "View", admins_view_user_path(user) %></td>
    </tr>
    <% end %>
  </table>

  <%= link_to "Create New User", admins_dashboard_user_new_path %>
